<h1><%= @member.full_name %>'s previous classes:</h1>

<table>
  <tr>
    <th>Classes attended:</th>
  </tr>
  <td>
    <% @member.group_classes_history.each do |group_class| %>
    <li><%= group_class.class_name %> - <%= group_class.class_date %></li>
    <% end %>
  </td>
</table>
