<h2><%= @member.full_name %></h2>
<h3>Membership: <%=  @member.membership_type%></h3>

<p>Booked classes: (put list here..)</p>

<button onclick="window.location.href='/members/<%= @member.id %>/edit'">Edit</button>

<form action="/members/<%= @member.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
