<div class="flex-container">


  <div class="card">
    <a href="/members/new"><img src="images/member-icon.jpg" alt="Member icon" style="width:100%"></a>
    <div class="container">
      <a href="members/new"><h2><b>New Member</b></h2></a>
    </div>
  </div>
  <div class="card">
    <a href="group_classes/new"><img src="images/classes-icon.png" alt="Member icon" style="width:100%"></a>
    <div class="container">
      <a href="group_classes/new"><h2><b>New Class</b></h2></a>
    </div>
  </div>
  <div class="card">
    <a href="bookings/new"><img src="images/booking-icon.png" alt="Member icon" style="width:100%"></a>
    <div class="container">
      <a href="bookings/new"><h2><b>New Booking</b></h2></a>
    </div>
  </div>

</div>
