<div id="card-left" class="card">
  <img src="images/member-icon.jpg" alt="Member icon" style="width:100%">
  <div class="container">
    <h2><b>New Member</b></h2>
  </div>
</div>
<div id="card-middle" class="card">
  <img src="images/classes-icon.png" alt="Member icon" style="width:100%">
  <div class="container">
    <h2><b>New Class</b></h2>
  </div>
</div>
<div id="card-right" class="card">
  <img src="images/booking-icon.png" alt="Member icon" style="width:100%">
  <div class="container">
    <h2><b>New Booking</b></h2>
  </div>
</div>
