<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Average Joe's</title>
  </head>
  <body>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/group_classes">Classes</a></li>
    </nav>
 <%= yield %>
  </body>
</html>
