<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Average Joe's</title>
    <link rel = "icon" type = "image/png" href = "/images/dumbell.png">

    <link rel="stylesheet" type="text/css" href="/styles/button.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <nav>
      <ul class="flex">
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/group_classes">Classes</a></li>
        <li><a href="/bookings">Bookings</a></li>
      </ul>
    </nav>
 <%= yield %>
  </body>
</html>
