<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FTF</title>
    <link rel = "icon" type = "image/png" href = "/images/ftf.jpg">
    <link rel="stylesheet" type="text/css" href="/styles/button.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
  </head>
  <body>
    <div class="main"
    <header>
      <a id="header-a" href="/"><img src="../images/ftf.jpg" alt="ftf logo"></a>
    </header>
      <nav>
        <ul class="flex">
          <li><a href="/">Home</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/group_classes">Classes</a></li>
          <li><a href="/bookings">Bookings</a></li>
        </ul>
      </nav>

       <%= yield %>

       </div>
  </body>
</html>
