<h1>Add a new class below!</h1>

<form id="group-form" action="/group_classes" method="post">

<div>
  <label for="class_name">Class type:</label>
  <select name="class_name">
    <option value="HIIT">HIIT</option>
    <option value="Gymnastics">Gymnastics</option>
    <option value="Weightlifting">Weightlifting</option>
  </select>
  </div>

<div>
  <label for="capacity">Capacity:</label>
  <select name="capacity">
    <option value=10>10</option>
    <option value=15>15</option>
    <option value=20>20</option>
  </select>
</div>

<div>
  <label for="start_at">Start time:</label>
  <select name="start_at">
    <option value="09:00">09:00</option>
    <option value="10:00">10:00</option>
    <option value="11:00">11:00</option>
    <option value="12:00">12:00</option>
    <option value="13:00">13:00</option>
    <option value="14:00">14:00</option>
    <option value="15:00">15:00</option>
    <option value="16:00">16:00</option>
  </select>
</div>

<div>
  <label for="end_at">End time:</label>
  <select name="end_at">
    <option value="10:00">10:00</option>
    <option value="11:00">11:00</option>
    <option value="12:00">12:00</option>
    <option value="13:00">13:00</option>
    <option value="14:00">14:00</option>
    <option value="15:00">15:00</option>
    <option value="16:00">16:00</option>
    <option value="17:00">17:00</option>
  </select>
</div>

<div>
  <label for="class_date">Date:</label>
  <input type="date" name="class_date" value=>
</div>

<div id="submit">
  <input class="btn btn--action" type="submit" value="Add Class">
</div>

</form>
