<h1>Booking Details:</h1>

<h3>Member: <%= @booking.member.full_name %></h3>
<h3>Class: <%= @booking.group_class.class_name %></h3>
<h3>Date: <%= @booking.group_class.class_date %></h3>

<div id="submit">
  <form action="/bookings/<%= @booking.id %>/delete" method="post">
    <input class="btn btn--action" type="submit" value="Delete">
  </form>
</div>
