.btn {
  border:1px solid;
  border-radius: 8px;
  padding: 8px 12px;
  color: white;
  cursor:pointer;
  text-align: center;
  margin:auto;
  display:block;
  font-size: 16px;
  font-family: arial;
}

.btn--action:hover {
  background-color: lightblue;
}

.btn--action {
  text-align: center;
  background-color: grey;
}

.btn--delete {
  text-align: center;
  background-color: #b23a3a;
}

.btn--edit {
  text-align: center;
  background-color: #7795c4;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*
#delete-submit {
  background-color: darkred;
} */
