body {
  background: white url('/images/gym.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

label {
  float: left;
  width: 150px;
  text-align: right;
  padding-right: 12px;
  margin-top: 12px;
  clear: left;
  font-size: 16px;
  font-family: monospace;
}

input, textarea {
  width: 50%;
  padding: 10px 10px;
  margin-top: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

input, select {
  width: 50%;
  padding: 10px 10px;
  margin-top: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

#member-form {
  background-color: #F1F1F1;
  border-radius: 10px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#group-form {
  background-color: #F1F1F1;
  border-radius: 10px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#booking-form {
  background-color: #F1F1F1;
  border-radius: 10px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#submit{
  text-align: center;
  padding: 15px;
}
