header {
  background-color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
}

header, img {
  height:150px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background: white url('/images/gym.jpeg'); */
  background: #9099A2;
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: courier;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: courier;
}

nav, ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6D7993;
}

nav, li {
  font-family: courier;
  font-size: 24px;
  float: left;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

nav, li, a {
  display: block;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
}
/*
li a:hover {
   background-color: lightblue;
} */

.active {
  background-color: lightblue;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 225px;
  background-color: white;
  margin: auto;
  flex: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

card, img {
  border-radius: 5px 5px 0 0;
  max-width: 180px;
  max-height: auto;
  margin-left: 22px;
}

#card-middle {
  float: left;
  margin-left: 280px;
  margin-right: auto;
  margin-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
}


#card-left {
  float: left;
  margin-left: 120px;
  margin-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

#card-right {
  float: right;
  margin-right: 120px;
  margin-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
}
