body {
  background: white url('/images/gym.jpeg');
  background: #9099A2;
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: courier;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: courier;
}

nav, ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6D7993;
}

nav, li {
  font-family: courier;
  font-size: 24px;
  float: left;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

nav, li, a {
  display: block;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
}

#header-a {
  background-color: white;
}

.active {
  background-color: lightblue;
}

.card {
  border-radius: 5px;
  width: 225px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
}

.card img {
  border-bottom: 1px solid grey;
  border-radius: 5px;
}
